body{
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.player{
    border-right: 5px solid black;
    width: 330px;
    font-family: 'Press Start 2P', cursive;
    font-size: 37px;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to top,rgba(34,193,195,1) 0%, rgba(240,219,172,1) 100%);
}
.turn{
    font-size: 40px;
    margin-top: 150px;
    font-family: 'Press Start 2P', cursive;
}
.gameboard{
    border-top: 77px solid black;
    border-bottom: 77px solid black;
    width: 1200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-image: url("img src/retro_background.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cell{
    width: 160px;
    height: 160px;
    border: 10px solid;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 77px;
}
#cellBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
}
.opponent{
    border-left: 5px solid black;
    width: 330px;
    font-size: 37px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to top, rgba(34,193,195,1) 0%, rgba(240,219,172,1) 100%);
}
#boxOne, #boxTwo, #boxThree{
    border-left: 0;
}
#boxSeven, #boxEight, #boxNine{
    border-right: 0;
}
#boxOne, #boxFour, #boxSeven{
    border-top: 0;
}
#boxThree, #boxSix, #boxNine{
    border-bottom: 0;
}
